body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-direction: column;
    background-color: rgb(206, 215, 240);
    width: 100vw;
    height: 100vw;
    
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left:600px;
    background-color: aliceblue;
    flex-direction: column;
    max-width: 20%;
    border-radius: 20px;
}
.image{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
img{
    padding-left: 10px;
    border-radius: 20px;
    height: 80%;
    width:90%
}
.textparagraph{
    padding:10px 10px 20px 30px;
}
.text-content-1{
    text-align: center;
    padding-top: 0px;
    font-weight: bold;
    font-size: 1em;
}
.text-content-2{
    text-align: center;
    font-size: 0.9em;
    color: rgb(199, 185, 185);
}